<div id="query_form_with_buttons" class="hide-when-print">
  <div id="query_form_content">
    <fieldset id="filters" class="collapsible">
      <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? 'expanded icon-expended' : "collapsed" %>"><%= l(:label_filter_plural) %></legend>
      <div style="<%= @query.new_record? ? '' : 'display: none;' %>">
        <%= render partial: 'queries/filters', locals: { query: @query } %>
      </div>
    </fieldset>
    <fieldset id="options" class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);" class="icon icon-expanded icon-expended"><%= l(:label_options) %></legend>
      <div style="<%= @query.new_record? ? '' : 'display: none;' %>">
        <table>
          <tr>
            <td><%= label_tag :chart_type, l(:label_resources_chart_type) %></td>
            <td><%= select_tag :chart_type,
                  custom_options_for_select(chart_type_options, @query.chart_type),
                  onchange: "$('#query_form').attr('action', this.value === 'issues_chart' ? 'resource_issues' : 'resource_bookings' ).submit();" 
                %>
            </td>
          </tr>
          <tr>
            <td><%= label_tag :group_by, l(:label_resources_group_by) %></td>
            <td><%= select_tag :group_by, options_for_select(group_by_options(@query.chart_type), @query.group_by) %></td>
          </tr>
          <tr>
            <td><%= l(:button_show) %></td>
            <td>
              <label for="show_spent_time" class="chart-type <%= ResourceBookingQuery::UTILIZATION_REPORT %>">
                <%= check_box 'query', 'show_spent_time', id: 'show_spent_time' %>
                <%= l(:label_spent_time) %>
              </label>
              <label for="show_percent">
                <%= check_box_with_label('show_percent', :label_resources_workload_in_percent) %>
              </label>
              <label for="show_hours">
                <%= check_box_with_label('show_hours', :label_resources_workload_in_hours) %>
              </label>
            </td>
          </tr>
        </table>
      </div>
    </fieldset>
  </div>
  <span class="contextual pagination">
    <ul class="pages">
      <li class="previous page">
        <%= link_to_previous_month(@query.date_from.year, @query.date_from.month, :accesskey => accesskey(:previous)) %>
      </li><li class="next page">
        <%= link_to_next_month(@query.date_from.year, @query.date_from.month, :accesskey => accesskey(:next)) %>
      </li>
    </ul>
  </span> 
  <p class="buttons">
    <%= l(:label_date_from) %>
    <%= text_field 'query', 'date_from', size: 12, type: 'date' %><%= calendar_for('query_date_from') %>

    <%= link_to_function l(:button_apply), '$("#query_form").submit()', class: 'icon icon-checked' %>
    <%= link_to l(:button_clear), { project_id: @project, set_filter: 1 }, class: 'icon icon-reload' %>
  </p>
</div>
