<h1><%= @user_data.name %></h1>

<p>
  Tu si môžete spravovať kvalifikácie používateľa.
  Každá kvalifikácia obsahuje rolu, kategóriu a hodnotenie.
</p>

<table class="list">
  <thead>
  <tr>
    <th>Rola</th>
    <th>Kategória</th>
    <th>Hodnotenie</th>
    <th>Akcie</th>
  </tr>
  </thead>
  <tbody>
  <% @qualifications.each do |qualification| %>
    <tr>
      <td><%= qualification[:role_name] %></td>
      <td><%= qualification[:category_name] %></td>
      <td><%= qualification[:rating] %></td>
      <td>
        <%= link_to 'Upraviť', edit_qualification_path(qualification), class: 'icon icon-edit' %> |
        <%= link_to 'Odstrániť', qualification_path(qualification), method: :delete, data: { confirm: 'Naozaj chcete odstrániť túto kvalifikáciu?' }, class: 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>

<%= link_to 'Pridať novú kvalifikáciu', new_qualification_path(user_id: @user_data.id), class: 'button' %>
