<h1><%= @user_data.name %></h1>

<p>
  <%= l(:description_manage_qualifications) %>
</p>

<table class="list">
  <thead>
  <tr>
    <th><%= l(:label_role) %></th>
    <th><%= l(:label_category) %></th>
    <th><%= l(:label_rating) %></th>
    <th><%= l(:label_actions) %></th>
  </tr>
  </thead>
  <tbody>
  <% @qualifications.each do |qualification| %>
    <tr>
      <td><%= qualification[:role_name] %></td>
      <td><%= qualification[:category_name] %></td>
      <td><%= qualification[:rating] %></td>
      <td>
        <%= link_to l(:link_edit), edit_qualification_path(qualification), class: 'icon icon-edit' %> |
        <%= link_to l(:link_delete), qualification_path(qualification), method: :delete, data: { confirm: l(:confirm_delete_qualification) }, class: 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to l(:link_add_new_qualification), new_qualification_path(user_id: @user_data.id), class: 'button' %>