<h1><%= l(:label_off_day_header) %></h1>

<%= form_with(model: @off_day, url: offdays_path, method: :post, local: true) do |f| %>
  <p>
    <%= f.label :start_datetime, l(:label_start_datetime) %><br>
    <%= f.datetime_local_field :start_datetime,
                               required: true,
                               value: (@off_day.start_datetime || Time.now).strftime('%Y-%m-%dT%H:%M') %>
  </p>

  <p>
    <%= f.label :end_datetime, l(:label_end_datetime) %><br>
    <%= f.datetime_local_field :end_datetime,
                               required: true,
                               value: (@off_day.end_datetime || Time.now + 1.hour).strftime('%Y-%m-%dT%H:%M') %>
  </p>

  <%= f.submit l(:button_add_off_day) %>
<% end %>

<h2><%= l(:label_existing_off_days) %></h2>

<div class="autoscroll">
  <table class="list">
    <thead>
    <tr>
      <th><%= l(:label_from) %></th>
      <th><%= l(:label_to) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @off_days.each do |off_day| %>
      <tr>
        <td><%= formatted_offday_time(off_day.start_datetime) %></td>
        <td><%= formatted_offday_time(off_day.end_datetime) %></td>
        <td class="buttons">
          <%= button_to l(:button_delete),
                        offday_path(off_day),
                        method: :delete,
                        data: { confirm: l(:text_are_you_sure_delete_off_day) },
                        class: 'icon icon-del' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
