

<h1>Your Off Days</h1>

<%= form_with(model: OffDay.new, url: offdays_path, method: :post, local: true) do |f| %>
  <div>
    <%= f.label :start_datetime, 'Start Date and Time' %><br>
    <%= f.datetime_select :start_datetime %>
  </div>

  <div>
    <%= f.label :end_datetime, 'End Date and Time' %><br>
    <%= f.datetime_select :end_datetime %>
  </div>
  <div>
    <%= f.submit 'Add Off Day' %>
  </div>
<% end %>

<h2>Existing Off Days</h2>
<ul>
  <% @off_days.each do |off_day| %>
    <li>
      <%= off_day.start_datetime.strftime('%d-%m-%Y %H:%M') %> to
      <% if off_day.start_datetime.year != off_day.end_datetime.year %>
        <%= off_day.end_datetime.strftime('%d-%m-%Y %H:%M') %>
      <% elsif off_day.start_datetime.month != off_day.end_datetime.month %>
        <%= off_day.end_datetime.strftime('%d-%m %H:%M') %>
      <% elsif off_day.start_datetime.day != off_day.end_datetime.day %>
        <%= off_day.end_datetime.strftime('%d %H:%M') %>
      <% else %>
        <%= off_day.end_datetime.strftime('%H:%M') %>
      <% end %>
      <%= button_to 'Delete', offday_path(off_day), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>

</ul>
