<table class="list">
  <thead>
  <tr>
    <th>Názov filtra</th>
    <th>Podmienky</th>
    <th>Akcie</th>
  </tr>
  </thead>
  <tbody>
  <% @filters.each do |filter| %>
    <tr>
      <td><%= filter.name %></td>
      <td>
        <% if filter.conditions.present? %>
          <%= readable_conditions(filter.conditions) %>
        <% else %>
          <em>Žiadne podmienky</em>
        <% end %>
      </td>
      <td>
        <%= link_to 'Upraviť', edit_custom_filter_path(filter), class: 'icon icon-edit' %> |
        <%= link_to 'Odstrániť', custom_filter_path(filter), method: :delete, data: { confirm: 'Naozaj chcete odstrániť tento filter?' }, class: 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Vytvoriť nový filter', new_custom_filter_path, class: 'button' %>
