<table class="list">
  <thead>
  <tr>
    <th><%= l(:label_filter_name) %></th>
    <th><%= l(:label_filter_conditions) %></th>
    <th><%= l(:label_actions) %></th>
  </tr>
  </thead>
  <tbody>
  <% @filters.each do |filter| %>
    <tr>
      <td><%= filter.name %></td>
      <td>
        <% if filter.conditions.present? %>
          <%= readable_conditions(filter.conditions) %>
        <% else %>
          <em><%= l(:label_no_conditions) %></em>
        <% end %>
      </td>
      <td>
        <%= link_to l(:button_edit), edit_custom_filter_path(filter), class: 'icon icon-edit' %> |
        <%= link_to l(:button_delete), custom_filter_path(filter),
                    method: :delete,
                    data: { confirm: l(:text_are_you_sure_delete_filter) },
                    class: 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to l(:button_create_new_filter), new_custom_filter_path, class: 'button' %>
